@use "./variables" as g;
@forward "./product-group.scss";


*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", serif;
}

body {
  background-color: g.$rose50;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .container {
    width: 90vw;
  }
}

